<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
    <style>
        body, form {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>

<h1>Create customer</h1>
<form method="POST" action="/createcustomeraction">
    <input type="text" name="firstName" placeholder="First Name" required autofocus>
    <input type="text" name="lastName" placeholder="Last Name" required>
    <input type="date" name="birthDate" placeholder="Birth Date" required>

    <select name="gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>

    <input type="text" name="email" placeholder="Email" required>
    <input type="text" name="address" placeholder="Address" required>
    <input type="submit" value="Create">
    <p class="link"><a href="/customers">Go back</a></p>
</form>
<script>
// js validation here..
</script>
</body>
</html>